fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
langchain
langchain-groq
langchain-community
langchain-openai
langchain-postgres
python-dotenv
requests
httpx
jinja2
python-multipart
google-search-results
twilio
sendgrid
mangum
